.header {
    background-color: rgb(26,148,193);
    color: #e4e4e4;
}

body {
    background-color: #FFF5EA !important;
}

.line {
    background-color: rgb(26,148,193) !important;
}

.primary-font-color {
    color: rgb(5, 9, 30)
}

.header a {
    color: white;
}

.content {
    padding-bottom: 175px;
}

.secondary-background {
    background-color: rgb(245, 240, 230);
}

.custom-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: rgb(254, 150, 1);
    border-color: rgb(254, 150, 1);
}

.rounded-line {
    width: 50px;
    border: none;
    background-color: #000; /* Change the color if needed */
    height: 4px; /* Adjust thickness as needed */
    border-radius: 10px; /* Adjust the rounding as needed */
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

.custom-btn:hover {
    opacity: 0.8; /* Adjusted opacity for hover effect */
}

.custom-btn:focus, .custom-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 150, 1, 0.5);
}

.custom-btn.disabled, .custom-btn:disabled {
    color: #fff;
    background-color: rgb(254, 150, 1);
    border-color: rgb(254, 150, 1);
}

.custom-btn:not(:disabled):not(.disabled):active, .custom-btn:not(:disabled):not(.disabled).active,
.show > .custom-btn.dropdown-toggle {
    color: #fff;
    background-color: #ff8c00; /* Adjusted color for active state */
    border-color: #ff8c00; /* Adjusted color for active state */
}

.custom-btn:not(:disabled):not(.disabled):active:focus, .custom-btn:not(:disabled):not(.disabled).active:focus,
.show > .custom-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 150, 1, 0.5);
}

#resultsList {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.drug-container {
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    width: 300px;
    backdrop-filter: blur(10px); /* Blur effect */
    border-radius: 10px; /* Rounded corners */
    padding: 0.5rem 1rem; /* Padding for content */
    margin-bottom: 20px; /* Spacing between drug containers */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }

  .drug-container p {
    margin: 0;
  }
  
  .drug-container :first-child {
    margin: 0; /* Reset default margins */
    color: rgb(26,148,193); /* Text color */
    font-weight: bold;
  }

  .drug-container :last-child {
    margin: 0; /* Reset default margins */
    color: rgb(26,148,193); /* Text color */
    font-weight: bold;
  }
  
  .drug-container-error {
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    width: 300px;
    backdrop-filter: blur(10px); /* Blur effect */
    border-radius: 10px; /* Rounded corners */
    padding: 0.5rem 1rem; /* Padding for content */
    margin-bottom: 20px; /* Spacing between drug containers */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }

  .drug-container-error p {
    margin: 0;
  }
  
  .drug-container-error :first-child {
    margin: 0; /* Reset default margins */
    color: rgb(26,148,193); /* Text color */
    font-weight: bold;
  }

  .footer {
    background-color: rgb(254, 150, 1);
    color: #FFF5EA;
  }

  .links {
    text-decoration: none;
  }
